archived/*
mv.cache
.env/*
.vscode/*
*.swp
__pycache__/*
passwords.py
*/__pycache__
images/*
node_modules
*/node_moodules
*.pyc
javascript/main.js
javascript/main.*.txt
skips.json
cron.log
cache/lasthash.json
javascript/main.*.js
geckodriver.log
*/npm-debug.log
