sqlalchemy
mw_api_client
wikitextparser
requests
praw
fuzzywuzzy
bleach
uvicorn
uvloop
gunicorn
python-jose[pycryptodome]
fastapi==0.59.0
aiofiles
psycopg2-binary
sentry-sdk
passlib
httptools
hanging_threads
free-proxy
